/*头部*/
header{
	height: 50px;
	background-color: #fff;
	position: relative;
}
header img{
    width: 50px;
    height: 40px;
    margin-left: 20px;
}
header .form{
	width: 350px;
	height: 30px;
	background-color: #fafafa;
	position: absolute;
	top: 10px;
	right: 150px;
}
header .form input{
	width: 315px;
	height: 28px;
	border: 1px solid #e2e2e2;
	float: left;
	font-size: 14px;
	padding-left: 3px;
}
header .form button{
	float: left;
	width: 30px;
	height: 30px;
	background-color: #e2e2e2;
}
header .form button:hover{
	background-color: #ccc;
}
header .form button i{
	font-family: 'icomoon';
	font-style: normal;
	color: #666;
	font-size: 16px;
}
header .lr{
	position: absolute;
	top: 0px;
	right: 30px;
	width: 80px;
	height: 50px;
	line-height: 50px;
}
/*导航条*/
nav{
	height: 50px;
	background-color: #545454;
}
nav li{
	width: 100px;
	height: 50px;
	float: left;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}
nav li a{
	color: #fff;
}
nav li a:hover{
	color: #a6a6a6;
}
/*轮播图*/
.roast-pic{
 	height:450px; 
 	margin-top: 20px;
}
.roast-pic nav{
	margin: auto;
    width:1190px; 
 	height:450px; 
 	overflow: hidden;
    position: relative;
}
#index{
    position: absolute; 
 	bottom: 15px; 
 	left: 50%;
	transform: translateX(-50%);
 	height: 20px; 
 	width: 100px; 
 	z-index: 2; 
 	background: rgba(255,255,255,.3); 
	border-radius: 10px;
	padding-left: 10px;
}
#index li{
    cursor: pointer; 
 	float: left; 
 	width: 12px;
    height: 12px; 
    border-radius: 50%;
    background: #fff; 
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
}
#img{
    width: 1190px; 
 	height:450px; 
}
#img li{
    width: 1190px; 
 	height:450px; 
    position: absolute;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
#index .on{
    background-color: #ff4433;
}
#img .opa-on{
    opacity: 1;
}
.arrow 
 { 
    position: absolute;
    top: 50%;
	transform: translateY(-50%);
    width: 40px; 
 	height: 80px;
    background:rgba(0,0,0,.5);	
    font-size: 26px;
    text-align: center;
    font-weight: 700;
 	cursor: pointer; 
 	display: none; 
 	line-height: 80px; 
 	color: #fff;
 	z-index: 2; 
 }
 .arrow:hover 
 { 
 	background-color: rgba(0,0,0,.7);
 }
.roast-pic nav:hover .arrow 
 { 
 	display: block;
 }
 #prev { 
 	left: 0px;
 }
 #next { 
 	right: 0px;
 }
/*文章*/
.articles{
	width: 1188px;
	margin: 20px auto;
	border: 1px solid #ccc;
}
.articles .art1{
	width: 1190px;
	height: 150px;
	border-bottom: 1px solid #ccc;
}
.articles .art1:last-child{
	border-bottom: none;
}
.articles .art1 h2{
	color: #666;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.articles .art1 p{
	width: 1150px;
	margin: auto;
	color: #000;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
/*分页*/
.pag{
	height: 40px;
}
.pag li{
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	font-size: 20px;
	color: #666;
	line-height: 40px;
	text-align: center;
}
.pag li:last-child{
	width: 100px;
}
/*页脚*/
footer{
	margin-top: 20px;
    margin-bottom: 20px;
}
.copyright{
	text-align: center;
}
.copyright p{
	height: 30px;
	line-height: 30px;
}
.copyright span{
	margin-left: 10px;
	margin-right: 10px;
}

/*文章内容*/
.art{
	width: 850px;
	margin-top:20px;
	background-color: #fff;
}
.art-title{
	width: 850px;
	height: 110px;
	border-bottom: 1px solid #ccc;
	padding-top: 25px;
	padding-left: 25px;
	box-sizing: border-box;
}
.art-title h1{
	font-size: 24px;
}
.art-title p{
	width: 850px;
	height: 60px;
	line-height: 60px;
}
.art-title .original{
	border: 1px solid #ccc;
	padding: 2px 6px;
	color: #666;
}
.art-title .time{
	margin-left: 30px;
	color: #bbb;
}
.art-title .tag{
	margin-left: 30px;
	color: #bbb;
}
.art-title .tag a{
	font-size: 14px;
}
.art-con{
	width: 850px;
	background-color: #fff;
	padding: 30px;
	padding-bottom: 50px;
	box-sizing: border-box;
	font-size: 16px;
}
.art-con1 h2{
	font-size: 18px;
	font-weight: normal;
	font-family: 'Microsoft YaHei';
}
.art-con1 span:nth-child(2){
	display: block;
	text-indent: 35px;
}
.art-con1 span:nth-child(3){
	display: block;
	width: 755px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #f9f9f9;
	padding: 15px;
	color: #666;
}
.art-con1 h3{
	font-size: 16px;
	font-weight: normal;
	font-family: 'Microsoft YaHei';
}
.art-con hr{
	width: 780px;
	color: #ccc;
	margin-top: 30px;
}
.tag1{
	width: 320px;
	background-color: #fff;
	margin-top: 20px;
	padding: 20px;
	box-sizing: border-box;
}
.tag1 p:nth-child(1){
	width: 100%;
	text-align:center;
	font-size: 18px;
}
.tag1 p:nth-child(2){
	width: 100%;
	margin-left: 30px;
	text-align:left;
	font-size: 16px;
}
/*.evaluate{
	width: 770px;
	height: 80px;
	border: 1px solid #ccc;
	margin: 0 auto;
	position: relative;
}
.evaluate button{
	width: 100px;
	height: 30px;
	position: absolute;
	bottom: -30px;
	right: 0;
	background-color: #ccc;
}*/
.text-box1 .comment{ 
	border: 1px solid #ccc; 
	display: block; 
	height: 30px; 
	width: 770px; 
	padding-top: 5px; 
	padding-bottom: 5px;
	resize: none; 
	color: #ccc;
	margin: 0 auto;
}
.text-box1 .btn{ 
	margin-right: 40px;

}











.evaluate1{
	height: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #666;
	margin: 30px 0px 10px 40px;
}
.clearfix:after{ 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden
}
.clearfix{
   *height:1%;
}
#list{ 
	margin: 20px auto; 
	text-align: left; 
	width: 770px;
	font-family: "微软雅黑";
}
.box{ 
	border-top: 1px solid #ccc; 
	position: relative;  
	width: 770px;
}
.user{
	width: 100px;
	height: 120px;
	float: left;	
}
.head { 
	width: 60px; 
	height: 60px; 
	position: absolute;
	top: 20px;
	left: 20px;
	border-radius: 50%;
}
.user-name{
	width: 100px;
	height: 20px;
	position: absolute;
	top: 90px;
	left: 0px;
    text-align: center;
}
.content{ 
	float: left; 
	width: 670px;
	padding: 20px;
	box-sizing: border-box;
}
.main .txt{ 
	margin-bottom: 10px;
}
.main .time1 { 
	color: #666; 
	float: left; 
	height: 20px; 
	padding-left: 20px; 
	background: url("../images/bg1.jpg") no-repeat left top;
}
.info{ 
	height: 20px; 
	line-height: 20px; 
	font-size: 14px; 
	margin: 0 0 10px 0;
}
.info .praise{ 
	color: #369; 
	float: right; 
	height: 20px;
	padding-left: 18px; 
	background: url("../images/bg2.jpg") no-repeat left top;
}
.info .praise:hover{ 
	text-decoration: underline; 
	background: url("../images/bg3.jpg") no-repeat left top;
}
.praises-total{ 
	height: 20px; 
	background: url("../images/bg2.jpg") no-repeat 6px 6px; 
	padding: 5px 0 5px 25px; 
	line-height: 20px;
}
.comment-box{ 
	width: 650px;
	padding: 10px 0; 
	border-top: 1px solid #ccc;
}
.comment-box:hover { 
	background: rgb(247, 247, 247);
}
.comment-box .myhead{ 
	float: left; 
	width: 30px; 
	height: 30px; 
	margin-right: 10px;
	border-radius:50%;
}
.comment-box .comment-content{ 
	float: left; 
	width: 600px; 
}
.user-name1{ 
	color: #369; 
}
.comment-box .comment-content .comment-time{ 
	color: #666; 
	margin-top: 3px; 
	line-height: 16px; 
	position: relative;
	font-size: 14px;
}
.comment-box .comment-content .comment-praise{ 
	display: none; 
	color: #369; 
	padding-left: 17px; 
	height: 20px; 
	background: url("../images/bg2.jpg") no-repeat;  
	position: absolute; 
	bottom: 0px; 
	right: 44px;
}
.comment-box .comment-content .comment-operate{ 
	display: none; 
	color: #369; 
	height: 20px;  
	position: absolute; 
	bottom: 0px; 
	right: 0px;
}
.comment-box .comment-content:hover .comment-praise{ 
	display: inline-block;
}
.comment-box .comment-content:hover .comment-operate{ 
	display: inline-block;
}
.text-box .comment{ 
	border: 1px solid #ccc; 
	display: block; 
	height: 20px; 
	width: 630px; 
	padding-top: 5px; 
	padding-bottom: 5px;
	resize: none; 
	color: #ccc;
}
.btn{ 
	font-size: 12px; 
	font-weight: bold; 
	display: none; 
	float: right; 
	width: 65px; 
	height: 25px; 
	border: 1px solid #0C528D; 
	color: #fff; 
	background: #4679AC;
}
.btn-off{ 
	border: 1px solid #ccc; 
	color: #ccc; 
	background: #F7F7F7;
}
.word{ 
	display: none; 
	float: right; 
	margin: 7px 10px 0 0; 
	color: #666;
}
.text-box-on .comment{ 
	height: 50px; 
	color: #333;
}
.text-box-on .btn{ 
	display: inline;
}
.text-box-on .word{ 
	display: inline;
}